@use "../variables/variables" as v;

.bookPage {
  width: 100%;
  display: flex;
  justify-content: center;
  color: v.$primary-text;
  font-family: v.$font-secondary;

  .pageContainer {
    width: 100%;
    max-width: 1150px;
    min-height: 100vh;
    position: relative;

    .heroSection {
      width: 100%;
      height: 100%;
      z-index: 0;
      display: grid;
      grid-template: 1fr / 1fr 2fr;
      border-bottom-left-radius: 10rem;
      border-bottom-right-radius: 10rem;
      overflow: hidden;
      height: 95dvh;
      max-height: 725px;

      .sideInfo {
        background-color: v.$hero-bg-left;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2dvh;

        button {
          padding: 0.75rem 1rem;
          outline: none;
          font-family: v.$font-primary;
          font-size: 0.9rem;
          font-weight: 500;
          border-radius: 0.5rem;
          color: v.$button-text;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;

          &:hover {
            cursor: pointer;
          }
        }

        button:nth-of-type(1) {
          background-color: v.$primary-accent;
          border: 1px solid white;
        }

        button:nth-of-type(2) {
          background-color: #7c9e3b;
          color: white;
          border: 1px solid gray;
        }

        button:nth-of-type(3) {
          background-color: v.$secondary-accent;
          border: 1px solid white;
        }
      }

      .mainInfo {
        background-color: v.$hero-bg-right;
        padding: 5%;

        .title {
          font-family: v.$font-primary;
        }

        .authorsContainer {
        }

        .descriptionContainer {
          margin-top: 2rem;
          position: relative;

          p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5; // Adjust as needed
            -webkit-box-orient: vertical;
            transition: all 0.3s ease-in-out;

            &.expanded {
              -webkit-line-clamp: unset;
              overflow: visible;
            }
          }

          .toggleDescription {
            cursor: pointer;
            color: v.$primary-text;
            text-decoration: underline;
            margin-top: 5px;
            font-weight: 500;
            display: inline-block;
          }
        }
      }
    }
  }
}
