@use "../variables/variables" as v;
@use "../mixins/mixins" as m;
.homePage {
  flex: 1;
  .hero {
    min-height: 60dvh;
    position: relative;
    .heroOverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      display: grid;
      grid-template: 1fr / 2fr 1fr;
      border-bottom-left-radius: 10rem;
      overflow: hidden;
      max-height: 85dvh;
      div:first-child {
        background-color: v.$hero-bg-left;
      }
      div:last-child {
        background-color: v.$hero-bg-right;
      }
    }
    .heroContent {
      position: relative;
      z-index: 1;
      padding: 5%;
      .heroTitle {
        @include m.pageTitle;
      }
    }
  }
  .bookRecommendations {
    margin-top: 4rem;
    position: relative;
    .titleContainer {
      @include m.secondaryTitleContainer;
    }
    .bookContainer {
      @include m.fourBookCardsContainer;
    }
  }
  .bookCategory {
    position: relative;
    padding: 5%;
    .titleContainer {
      @include m.secondaryTitleContainer;
    }
    .categoriesSlide {
      display: none;
      .category {
        background-color: v.$category-bg;
        padding: 1rem;
        border: 2px solid v.$border-color;
        border-radius: 0.35rem;
        transition: transform 0.4s ease-in-out;
        img {
          object-fit: cover;
          border-radius: 0.175rem;
        }
        h4 {
          font-family: v.$font-primary;
          text-align: center;
          color: v.$category-text;
          font-size: 1.1rem;
        }
        &:hover {
          transform: translateY(-12.5px);
          cursor: pointer;
        }
      }
      &.active {
        margin-top: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
        width: 100%;
        animation: fadeIn 1s ease-in-out;
      }
    }
  }
  .quoteOfTheDay {
    padding: 5rem;
    .titleContainer {
      @include m.secondaryTitleContainer;
    }
    .quoteContainer {
      background-color: v.$primary-accent;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      margin-top: 2rem;
      //quote
      q {
        font-family: v.$font-primary;
        text-align: center;
        color: v.$primary-text;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
      }
      //book , author
      footer {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 1315px) {
  .categoriesSlide {
    .category:nth-child(4) {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
