@use "../variables/variables" as v;
@use "../mixins/mixins" as m;
.homePage {
  .hero {
    min-height: 60dvh;
    position: relative;
    .heroOverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      display: grid;
      grid-template: 1fr / 2fr 1fr;
      border-bottom-left-radius: 10rem;
      overflow: hidden;
      max-height: 85dvh;
      div:first-child {
        background-color: v.$hero-bg-left;
      }
      div:last-child {
        background-color: v.$hero-bg-right;
      }
    }
    .heroContent {
      position: relative;
      z-index: 1;
      padding: 5%;
      .heroTitle {
        font-size: clamp(2rem, 4vw, 2.75rem);
        margin-bottom: 1.5rem;
      }
    }
  }
  .bookRecommendations {
    margin-top: 4rem;
    position: relative;
    .titleContainer {
      @include m.homePageTitle;
    }
    .bookContainer {
      margin-top: 2.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 2rem;
      width: 100%;
    }
  }
  .bookCategory {
    position: relative;
    padding: 5%;
    .titleContainer {
      @include m.homePageTitle;
    }
  }
}

@media (max-width: 2000px) {
  .bookContainer > :nth-child(4) {
    display: none;
  }
}

@media (max-width: 1200px) {
  .bookContainer > :nth-child(3),
  .bookContainer > :nth-child(4) {
    display: none;
  }
}
