@use "../styles/variables/variables" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#root {
  min-height: 100dvh;
  background-color: v.$primary-bg;
  font-family: v.$font-secondary;
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar content";
  grid-template-rows: auto 1fr;
  grid-template-columns: clamp(15vw, 250px, 25vw) 1fr;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
// }
// ::-webkit-scrollbar {
//   display: none;
// }
