@use "../styles/variables/variables" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#root {
  min-height: 100dvh;
  background-color: v.$primary-bg;
  font-family: v.$font-secondary;
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
// }
// ::-webkit-scrollbar {
//   display: none;
// }
