@use "../../styles/variables/variables" as v;
.bookCard {
  width: 285px;
  height: calc(
    285px * 1.556
  ); // 1.556 is the approximate aspect ratio of the book cover
  background-color: v.$secondary-bg;
  border-radius: 5%;
  overflow: hidden;
  border: 1px solid v.$border-color;
  box-shadow: 0 5px 5px v.$shadow-color;
  position: relative;
  transition: scale 0.35s ease-in-out;
  .bookCover {
    object-fit: cover;
    position: relative;
    z-index: 1;
  }
  .bookOverlay {
    padding: 0.5rem;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    z-index: 2;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    top: 0;
    color: white;
    font-family: v.$font-primary;
    transition: opacity 0.35s ease-in-out;
    border-radius: inherit;
    h4 {
      opacity: 0.6;
      font-family: v.$font-accent;
    }
  }
  .noBookCoverOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    color: v.$secondary-text;
    font-family: v.$font-primary;
    z-index: 0;
  }
  &:hover {
    .bookOverlay {
      opacity: 1;
      cursor: pointer;
    }
    scale: 1.02;
  }
}
